<template>
  <p>{{ token }}</p>
  <pre>
    {{ payload }}
  </pre>
</template>

<script>
export default {
  data() {
    const auth = this.$auth;
    return {
      token: auth.getToken(),
      payload: auth.payload,
    };
  },
};
</script>

