<template>
  <div class="min-h-screen surface-ground">
    <div class="flex justify-content-center flex-wrap">
      <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6 md:mt-6">
        <div class="text-center mb-5">
          <!-- <img src="images/blocks/logos/hyper.svg" alt="Image" height="50" class="mb-3"> -->
          <div class="text-900 text-3xl font-medium mb-3">Sign In</div>
          <span class="text-600 font-medium line-height-3"
            >Don't have an account?</span
          >
          <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer"
            >Create today!</a
          >
        </div>

        <transition-group name="p-message" tag="div">
          <Message
            v-if="message.content"
            :severity="message.severity"
            @close="closeMessage"
          >
            {{ message.content }}
          </Message>
        </transition-group>

        <div>
          <label for="email" class="block text-900 font-medium mb-2"
            >Email</label
          >
          <InputText
            id="email"
            type="text"
            class="w-full mb-3"
            required
            ref="email"
            v-model="email"
            @keyup.enter="onEmailEnter"
            :disabled="isLock"
          />

          <label for="password" class="block text-900 font-medium mb-2"
            >Password</label
          >
          <InputText
            id="password"
            type="password"
            class="w-full mb-3"
            required
            ref="password"
            v-model="password"
            @keyup.enter="onPasswordEnter"
            :disabled="isLock"
          />

          <div class="flex align-items-center justify-content-between mb-6">
            <div class="flex align-items-center">
              <Checkbox id="rememberme1" :binary="true" class="mr-2"></Checkbox>
              <label for="rememberme1">Remember me</label>
            </div>
            <a
              class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer"
              >Forgot password?</a
            >
          </div>
          <!-- <NuxtLink to="/app"> -->
          <Button
            label="Sign In"
            icon="pi pi-user"
            class="w-full"
            :disabled="isDisabled"
            @click="doLogin"
          ></Button>
          <!-- </NuxtLink> -->
        </div>
      </div>
    </div>
  </div>
</template>
<script>
const config = useRuntimeConfig();
export default {
  data() {
    return {
      email: "",
      password: "",
      isLock: false,
      message: {
        severity: "",
        content: "",
      },
    };
  },
  computed: {
    isDisabled() {
      return !this.email || !this.password || this.isLock;
    },
  },
  methods: {
    onEmailEnter() {
      this.$refs.password.$el.focus();
    },
    onPasswordEnter() {
      this.doLogin();
    },
    async doLogin() {
      this.isLock = true;
      let res;
      try {
        res = await this.$api.post("/api/auth/login", {
          email: this.email,
          password: this.password,
        });
      } catch (error) {
        this.password = "";
        this.isLock = false;
        if (error.name !== "AxiosError") {
          this.message = {
            severity: "error",
            content: "Something went wrong",
          };
          return;
        }
        this.message = {
          severity: "error",
          content: "email or password incorrect",
        };
        return;
      }
      const data = res.data;
      this.$auth.setToken(data.data.token);
      this.$auth.startRefreshTokenTimer();
      return await navigateTo("/auth-info", {
        replace: true,
      });
    },
    closeMessage() {
      console.log("closeMessage");
      this.message = {
        severity: "",
        content: "",
      };
    },
  },
};
</script>
